<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>penson</display-name>
  
  <!-- 회원가입 -->
  <servlet>
    <servlet-name>join</servlet-name>
    <servlet-class>penson.joinok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>join</servlet-name>
    <url-pattern>/mweb/join_ok.do</url-pattern>
  </servlet-mapping>
  
  <!-- 로그인 -->
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>penson.m_loginok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/mweb/m_loginok.do</url-pattern>
  </servlet-mapping>
  
  <!-- 예약하기 -->
  <servlet>
    <servlet-name>reservation</servlet-name>
    <servlet-class>penson.ReserOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservation</servlet-name>
    <url-pattern>/mweb/reser_ok.do</url-pattern>
  </servlet-mapping>  
  
</web-app>